<div class="mt-5 p-5 bg-body-tertiary">

  <%= render @friend %>

  <div>
    <%= link_to "Back to friends", friends_path, class: "btn btn-dark" %> |
    <%= link_to "Edit this friend", edit_friend_path(@friend), class: "btn btn-secondary" %> |
    <%= link_to "Destroy this friend", @friend, data: { turbo_method: :delete }, class: "btn btn-secondary" %>
  </div>
</div>
